{% extends './layout/default.html.twig' %}

{% block default %}
	{{ parent() }}
		<div class="col-12 text-light">
			<br>
			<h1 class="text-center" > 
				{{ pagina | upper }} 
			</h1>
			<div class="jumbotron bg-dark text-light">
				<div class="col-12">
				{{ pagina }}
					<h1 class="display-4">Treino de Twig!</h1>
					<p class="lead">Site simples para guardar aprendizado em Twig e PHP puro</p>
					<i><p class="lead">Navegue pelo menu</p></i>	
				</div>
			</div>
		</div>
{% endblock %}